<?xml version="1.0"?>
<config>
  <modules>
    <Bumon_Apisearch>
      <version>0.1.0</version>
    </Bumon_Apisearch>
  </modules>
  <frontend>
		<layout>
		  <updates>
			<apisearch>
			  <file>apisearch.xml</file>
			</apisearch>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <apisearch>
        <class>Bumon_Apisearch_Helper</class>
      </apisearch>
    </helpers>
	<models>
	  <apisearch>
		<class>Bumon_Apisearch_Model</class>
		<resourceModel>apisearch_mysql4</resourceModel>
	  </apisearch>
	</models>
  <blocks>
    <apisearch>
      <class>Bumon_Apisearch_Block</class>
    </apisearch>
  </blocks>
    <events>
	  <catalog_product_prepare_save>
        <observers>
          <catalog_product_prepare_save_handler>
            <type>model</type>
            <class>apisearch/observer</class>
            <method>updateProduct</method>
          </catalog_product_prepare_save_handler>
        </observers>
      </catalog_product_prepare_save>
      <!--
      <adminhtml_catalog_product_grid_prepare_massaction>
        <observers>
          <adminhtml_catalog_product_grid_prepare_massaction_handler>
            <type>model</type>
            <class>apisearch/observer</class>
            <method>fullUpdate</method>
          </adminhtml_catalog_product_grid_prepare_massaction_handler>
        </observers>
      </adminhtml_catalog_product_grid_prepare_massaction>
      -->
      <shell_reindex_finalize_process>
        <observers>
          <shell_reindex_finalize_process_handler>
            <type>model</type>
            <class>apisearch/observer</class>
            <method>fullUpdate</method>
          </shell_reindex_finalize_process_handler>
        </observers>
      </shell_reindex_finalize_process>
      <catalog_controller_product_delete>
        <observers>
          <catalog_controller_product_delete_handler>
            <type>model</type>
            <class>apisearch/observer</class>
            <method>removeProduct</method>
          </catalog_controller_product_delete_handler>
        </observers>
      </catalog_controller_product_delete>
    </events>
  </global>
  <crontab>
    <jobs>
			<apisearch_updateproduct>
        <schedule><cron_expr>* * * */1 *</cron_expr></schedule>
        <run><model>apisearch/observer::updateProduct</model></run>
      </apisearch_updateproduct>
    </jobs>
  </crontab>
  <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <apisearchadmin after="Mage_Adminhtml">Bumon_Apisearch_Adminhtml</apisearchadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
</config> 